/*
 * 1 -> PANEL DE NAVEGACION
 * ============================================
 */
.navpanel{
	/*display: table;*/
}
.navpanel .navpanel-container{
    /*display: table-cell;*/
    border: 2px solid #FFF;
}
.navpanel-container{
	background-color: #e52d35;
	transition: 0.25s;
	-webkit-transition: 0.25s;
	-moz-transition: 0.25s;
	-o-transition: 0.25s;
}
.navpanel-container:hover{
	background-color: #666;
	transition: 0.25s;
	-webkit-transition: 0.25s;
	-moz-transition: 0.25s;
	-o-transition: 0.25s;
}
a[class~="navpanel-link"]:link, a[class~="navpanel-link"]:visited{
	color: #fff;
}
a[class~="navpanel-link"]:hover{
	text-decoration: none;
}
.navpanel-title{
	font-weight: bold;
	font-size: 14px;
}
.navpanel-text{
	font-size: 12px;
}
/*
 * 2 -> TITULOS Y TEXTOS
 * ============================================
 */
.section-title{
	font-size: 18px;
	color: #e52d35;
}
.subsection-title{
	font-size: 18px;
	color: #e52d35;
}
/*
 * 3 -> FORMULARIO
 * ============================================
 */
input[type=text],
input[type=email]{
	border: 1px solid #c0bfbf;
	border-radius: 0px;
	background-color: transparent;
	transition: 0.25s;
	-webkit-transition: 0.25s;
	-moz-transition: 0.25s;
	-o-transition: 0.25s;
}
input[type=text]:focus,
input[type=email]:focus{
	border-color: #E52D35;
	color: #E52D35;
	box-shadow: 0 0 8px rgba(229, 45, 53, 0.5);
	transition: 0.25s;
	-webkit-transition: 0.25s;
	-moz-transition: 0.25s;
	-o-transition: 0.25s;
}
#mensaje{
	border: 1px solid #c0bfbf;
	border-radius: 0px;
	background-color: transparent;
	resize: none;
	transition: 0.25s;
	-webkit-transition: 0.25s;
	-moz-transition: 0.25s;
	-o-transition: 0.25s;
}
#mensaje:focus{
	border-color: #E52D35;
	color: #E52D35;
	box-shadow: 0 0 8px rgba(229, 45, 53, 0.5);
	transition: 0.25s;
	-webkit-transition: 0.25s;
	-moz-transition: 0.25s;
	-o-transition: 0.25s;
}
input[type=submit]{
	border: 1px solid #eb6067;
	border-radius: 0px;
	background-color: #E52D35;
	color: #ffffff;
	font-weight: bold;
	padding: 10px 20px;
	transition: 0.25s;
	-webkit-transition: 0.25s;
	-moz-transition: 0.25s;
	-o-transition: 0.25s;
}
input[type=submit]:hover{
	background-color: #ffffff;
	color: #E52D35;
	transition: 0.25s;
	-webkit-transition: 0.25s;
	-moz-transition: 0.25s;
	-o-transition: 0.25s;
}
.control-label{
	color: #E52D35;
}
/*
 * 4 -> RESPONSIVE
 * ============================================
 */
@media (min-width:1200px) {
	.section-title{
		font-size: 20px;
	}
	.navpanel-title{
		font-size: 16px;
	}
	.navpanel-text{
		font-size: 14px;
	}
}
@media (max-width:1199px) {
	.subsection-title{
		font-size: 16px;
	}
}
@media (max-width:767px) {
	.section-title{
		text-align: center;
		font-size: 16px;
	}
}
@media (max-width:479px) {
	.section-title{
		text-align: center;	
		font-size: 14px;
	}
	.subsection-title{
		font-size: 14px;
	}
}