/*
 * 1 -> TITULOS Y TEXTOS
 * ============================================
 */
.section-title{
	font-size: 18px;
	color: #e52d35;
}
a[class~="filter"]:link, a[class~="filter"]:visited{
	padding: 0 5px;
	border: none;
	background-color: #FFF;
	font-size: 16px;
	color: #e52d35;
	transition: 0.25s;
	-webkit-transition: 0.25s;
	-moz-transition: 0.25s;
	-o-transition: 0.25s;
}
a[class~="filter"]:hover, a[class~="filter"]:active{
	color: #666;
	text-decoration: underline;
	transition: 0.25s;
	-webkit-transition: 0.25s;
	-moz-transition: 0.25s;
	-o-transition: 0.25s;
}
/*
 * 2 -> TABLAS
 * ============================================
 */
.infotable th{
	color: #e52d35;
}
.infotable td{
	padding-top: 20px !important;
	padding-bottom: 20px !important;
	font-size: 12px;
}
/*
 * 3 -> RESPONSIVE
 * ============================================
 */
@media (min-width:1200px) {
	.section-title{
		font-size: 20px;
	}
	.infotable th[class~="fecha"]{
		padding-right: 60px;
	}
}
@media (max-width:1199px) {
	.infotable td{
		font-size: 12px;
	}
	.infotable th[class~="fecha"]{
		padding-right: 50px;
	}
}
@media (max-width:767px) {
	.section-title{
		text-align: center;
		font-size: 16px;
	}
}
@media (max-width:479px) {
	.section-title{
		text-align: center;	
		font-size: 14px;
	}
	.infotable th{
		font-size: 12px;
	}
}