#footer{
	background-color: #939191;
	font-size: 11px;
	color: #FFF;
}
#footer img{
	width: 70%;
	margin: 0 auto;
}
#footer a:link, #footer a:visited{
	color: #FFF;
}
/*@media (min-width:1200px) {
	#footer{
		font-size: 14px;
	}
}*/
@media (max-width:767px) {
	/*#footer{
		font-size: 11px;
	}*/
	#footer img{
		width: 30%;
	}
}
@media (max-width:479px) {
	#footer img{
		width: 50%;
	}
}