/**
 * 1 -> Links de redes sociales
 * 2 -> Barra de navegacion
 * 3 -> Propiedades para submenus
 * 4 -> Responsive
 * ===============================================
 */

/*
 * 1 -> LINKS DE REDES SOCIALES
 * ============================================
 */
.menubar-text{
	padding-top: 5%;
	color: #e52d35;
	text-align: right;
	-webkit-transition: all ease 0.5s;
	-moz-transition: all ease 0.5s;
	-o-transition: all ease 0.5s;
	transition: all ease 0.5s;
}
.menubar-text-scrolled{
	padding-top: 2%;
	color: #e52d35;
	text-align: right;
	-webkit-transition: all ease 0.5s;
	-moz-transition: all ease 0.5s;
	-o-transition: all ease 0.5s;
	transition: all ease 0.5s;
}
a[class~="menubar-link-social"]:link, a[class~="menubar-link-social"]:visited{
	color: #e52d35;
	font-size: 18px;
	transition: 0.25s;
	-webkit-transition: 0.25s;
	-moz-transition: 0.25s;
	-o-transition: 0.25s;
}
a[class~="menubar-link-social"]:hover{
	text-decoration: none;
	color: #666666;
	transition: 0.25s;
	-webkit-transition: 0.25s;
	-moz-transition: 0.25s;
	-o-transition: 0.25s;
}
a[class='mailto-link']:link, a[class='mailto-link']:visited {
	color: #e52d35;
	transition: 0.25s;
	-webkit-transition: 0.25s;
	-moz-transition: 0.25s;
	-o-transition: 0.25s;
}
a[class='mailto-link']:hover {
	color: #666;
	transition: 0.25s;
	-webkit-transition: 0.25s;
	-moz-transition: 0.25s;
	-o-transition: 0.25s;
}
/*
 * 2 -> BARRA DE NAVEGACION
 * ============================================
 */
#header {
	background-color: #FFF;
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1030;
    -webkit-transform: translate3d(0,0,0);
    -o-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}
#header-logo{
	-webkit-transition: all ease 0.5s;
	-moz-transition: all ease 0.5s;
	-o-transition: all ease 0.5s;
	transition: all ease 0.5s;
}
.header-logo-scrolled{
	max-width: 60%;
	-webkit-transition: all ease 0.5s;
	-moz-transition: all ease 0.5s;
	-o-transition: all ease 0.5s;
	transition: all ease 0.5s;
}
.navbar-scrolled{
	min-height: 0;
	max-height: 40px;
}
.navbar-default {
    background-color: #e52d35;
    border-color: #e52d35;
    border-radius: 0px;
}
.navbar-default .navbar-nav>li>a {
    color: #FFF;
    margin: -1px 5px;
    transition: 0.2s;
	-webkit-transition: 0.2s;
	-moz-transition: 0.2s;
	-o-transition: 0.2s;
}
.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
    color: #e52d35;
    background-color: #FFF;
    font-weight: bold;
    transition: 0.2s;
	-webkit-transition: 0.2s;
	-moz-transition: 0.2s;
	-o-transition: 0.2s;
}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
    color: #e52d35;
    background-color: #FFF;
}
.navbar .navbar-nav {
	display: inline-block;
	float: none;
	vertical-align: top;
}
.navbar .navbar-collapse {
 	text-align: center;
}
.nav>li>a {
    position: relative;
    display: block;
    padding: 15px 12.5px;
}
.nav-link-scrolled{
	padding: 10px 12.5px !important;
}
.dropdown-menu {
	background-color: #e94951;
}
.dropdown-menu>li>a {
	color: #fff;
	transition: 0.2s;
	-webkit-transition: 0.2s;
	-moz-transition: 0.2s;
	-o-transition: 0.2s;
}
.dropdown-menu>li>a:hover {
	background-color: #FFF;
    color: #e52d35;
    font-weight: bold;
	transition: 0.2s;
	-webkit-transition: 0.2s;
	-moz-transition: 0.2s;
	-o-transition: 0.2s;
}
.dropdown-menu > li > a {
	padding: 10px 20px;
}
/*
 * 3 -> PROPIEDADES PARA SUBMENUS
 * ============================================
 */
.dropdown-submenu {
    position: relative;
}
.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}
.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}
.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}
.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}
.dropdown-submenu.pull-left {
    float: none;
}
.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}
/*
 * 4 -> RESPONSIVE
 * ============================================
 */
 @media (min-width:1200px) {
 	.menubar-text{
 		font-size: 14px;
 	}
 	.menubar-text-scrolled{
 		font-size: 14px;
 	}
 	a[class~="menubar-link-social"]:link, a[class~="menubar-link-social"]:visited{
 		font-size: 23px;
 	}
 }
 @media (max-width:1199px) {
 	.menubar-text{
 		font-size: 11px;
 	}
 	.menubar-text-scrolled{
 		font-size: 11px;
 	}
 	.header-logo-scrolled{
		max-width: 70%;
	}
 	a[class~="menubar-link-social"]:link, a[class~="menubar-link-social"]:visited{
 		font-size: 20px;
 	}
 }
@media (max-width:991px) {
	.menubar-text{
		padding-top: 4.5%;
		font-size: 11px;
	}
	.menubar-text-scrolled{
 		font-size: 11px;
 	}
	a[class~="menubar-link-social"]:link, a[class~="menubar-link-social"]:visited{
		font-size: 14px;
	}
 	.navbar-default .navbar-nav>li>a {
 		font-size: 12px;
 		margin: -1px 2.5px;
 	}
 	.dropdown-menu > li > a {
 		font-size: 12px;
 	}
 	.nav>li>a {
 	    padding: 15px 6.5px;
 	}
}
@media (max-width:767px) {
	#header-logo{
		margin: 0 auto;
	}
	.menubar-text{
		font-size: 11px;
	}
	a[class~="menubar-link-social"]:link, a[class~="menubar-link-social"]:visited{
		font-size: 18px;
	}
	.navbar-default .navbar-nav .open .dropdown-menu>li>a {
		color: #FFF;
	}
	.navbar-default .navbar-nav .open .dropdown-menu>li>a:hover {
	    background-color: #FFF;
	    color: #e52d35;
	}
	.navbar .navbar-nav {
		width: 100%;
	}
	.navbar-nav .open .dropdown-menu {
	    background-color: #e94951;
        text-align: center;
	}
}
@media (max-width:479px) {
	.menubar-text{
		font-size: 11px;
	}
	a[class~="menubar-link-social"]:link, a[class~="menubar-link-social"]:visited{
		font-size: 18px;
	}
}