/**
 * 1 -> Panel de navegacion
 * 2 -> Panel de informacion sobre la directiva
 * 3 -> Tablas
 * 4 -> Responsive
 * ===============================================
 */

/*
 * 1 -> PANEL DE NAVEGACION
 * ============================================
 */
#navpanel{
	display: table;
}
#navpanel .navpanel-container{
    display: table-cell;
    border: 2px solid #FFF;
}
.navpanel-container{
	background-color: #e52d35;
	transition: 0.25s;
	-webkit-transition: 0.25s;
	-moz-transition: 0.25s;
	-o-transition: 0.25s;
}
.navpanel-container:hover{
	background-color: #666;
	transition: 0.25s;
	-webkit-transition: 0.25s;
	-moz-transition: 0.25s;
	-o-transition: 0.25s;
}
a[class~="navpanel-link"]:link, a[class~="navpanel-link"]:visited{
	color: #fff;
}
a[class~="navpanel-link"]:hover{
	text-decoration: none;
}
.navpanel-title{
	font-weight: bold;
	font-size: 14px;
}
.navpanel-text{
	font-size: 12px;
}
/*
 * 2 -> PANEL DE INFORMACION SOBRE LA DIRECTIVA
 * ============================================
 */
.infopanel-title{
	font-size: 18px;
	color: #e52d35;
}
.infopanel-text{
	font-size: 12px;
}
button[class~="infopanel-link"]{
	padding: 0 5px;
	border: none;
	background-color: #FFF;
	font-size: 16px;
	color: #e52d35;
	transition: 0.25s;
	-webkit-transition: 0.25s;
	-moz-transition: 0.25s;
	-o-transition: 0.25s;
}
button[class~="infopanel-link-active"]{
	color: #666;
	text-decoration: underline;
}
button[class~="infopanel-link"]:hover{
	color: #666;
	text-decoration: underline;
	transition: 0.25s;
	-webkit-transition: 0.25s;
	-moz-transition: 0.25s;
	-o-transition: 0.25s;
}
/*
 * 3 -> TABLAS
 * ============================================
 */
.infotable-title{
	font-size: 18px;
	color: #e52d35;
}
.infotable th{
	padding-top: 20px !important;
	padding-bottom: 20px !important;
	background-color: #e52d35;
	color: #FFF;
}
.infotable td{
	padding-top: 20px !important;
	padding-bottom: 20px !important;
}
/*
 * 4 -> RESPONSIVE
 * ============================================
 */
@media (min-width:1200px) {
	.infotable th[class~="fecha"]{
		padding-right: 60px;
	}
}
@media (max-width:1199px) {
	.infotable td{
		font-size: 12px;
	}
	.infotable th[class~="fecha"]{
		padding-right: 50px;
	}
}
@media (max-width:991px) {
	.infopanel-title{
		font-size: 14px;
	}
	.infopanel-text{
		font-size: 10px;
	}
	button[class~="infopanel-link"]{
		font-size: 12px;
	}
}
@media (max-width:767px) {
	.infopanel-title{
		font-size: 16px;
	}
	.infopanel-text{
		font-size: 12px;
	}
	button[class~="infopanel-link"]{
		font-size: 12px;
	}
	.infotable-title{
		font-size: 16px;
	}
	.infotable th, .infotable td{
		font-size: 12px;
	}
}
@media (max-width:479px) {
	.navpanel-title {
	    font-size: 10px;
	}
	.navpanel-text {
	    font-size: 10px;
	}
}