@font-face {
  font-family: 'icons';
  src:  url('../fonts/icons.eot?wap1sp');
  src:  url('../fonts/icons.eot?wap1sp#iefix') format('embedded-opentype'),
    url('../fonts/icons.ttf?wap1sp') format('truetype'),
    url('../fonts/icons.woff?wap1sp') format('woff'),
    url('../fonts/icons.svg?wap1sp#icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icons-"], [class*=" icons-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icons-fb:before {
  content: "\ea90";
}
.icons-tw:before {
  content: "\ea96";
}
