body{
	font-family: 'Roboto', sans-serif;
}
.panel-heading {
    padding: 15px 15px;
    border-bottom: 1px solid transparent;
    color: #e52d35;
}
.login-panel {
	margin-top: 25%;
    background-color: #fff;
    border-radius: 0px;
    border: 1px solid #e52d35;
}
.login-panel .input-group-addon {
    border-radius: 0px;
    background-color: #e52d35;
    color: #710e13;
    border: 1px solid #e52d35;
}
.login-panel .input-group .form-control {
    border: 1px solid #e52d35;
    border-radius: 0px;
}
.btn-login {
    border-radius: 0px;
    border-color: #e52d35;
    background-color: #e52d35;
    color: #710e13;
    text-transform: uppercase;
    transition: 0.15s;
	-webkit-transition: 0.15s;
	-moz-transition: 0.15s;
	-o-transition: 0.15s;
}
.btn-login:hover{
	background-color: #710e13;
	color: #e52d35;
	transition: 0.15s;
	-webkit-transition: 0.15s;
	-moz-transition: 0.15s;
	-o-transition: 0.15s;
}