.col-centered{
    float: none;
    margin: 0 auto;
}
.row.text-center > div {
    display: inline-block;
    float: none;
}
.centered-text{
	text-align: center;
}
.justified-text{
	text-align: justify;
}
.bold-text{
	font-weight: bold;
}