body {
	overflow-x: hidden;
}
/**
 * 1 -> Panel de navegacion
 * 2 -> Barra de navegacion
 * 3 -> Controles de navegación del carousel
 * 4 -> Responsive
 * ===============================================
 */

/*
 * 1 -> PANEL DE NAVEGACION
 * ============================================
 */
 .navpanel{
	/*display: table;*/
}
.navpanel .navpanel-container{
    /*display: table-cell;*/
    border: 2px solid #FFF;
}
.navpanel-container{
	background-color: #e52d35;
	transition: 0.25s;
	-webkit-transition: 0.25s;
	-moz-transition: 0.25s;
	-o-transition: 0.25s;
}
.navpanel-container:hover{
	background-color: #666;
	transition: 0.25s;
	-webkit-transition: 0.25s;
	-moz-transition: 0.25s;
	-o-transition: 0.25s;
}
a[class~="navpanel-link"]:link, a[class~="navpanel-link"]:visited{
	color: #fff;
}
a[class~="navpanel-link"]:hover{
	text-decoration: none;
}
.navpanel-title{
	font-weight: bold;
	font-size: 14px;
}
.navpanel-text{
	font-size: 12px;
}

.article-text{
	font-size: 12px;
	text-align: justify;
}
.section-title, .article-title{
	font-size: 18px;
	color: #e52d35;
}
.img-caption-container{
	position: relative;
}
.img-caption{
	position: absolute;
	bottom: 0;
	right: 0;
	font-size: 11px;
}
.img-caption-container img {
	margin: 0 auto;
}
/*
 * 3 -> TABLAS
 * ============================================
 */
.infotable-title{
	font-size: 18px;
	color: #e52d35;
}
.infotable th{
	padding-top: 20px !important;
	padding-bottom: 20px !important;
	background-color: #e52d35;
	color: #FFF;
}
.infotable td{
	padding-top: 20px !important;
	padding-bottom: 20px !important;
}
/*
 * 4 -> PAGINACION
 * ============================================
 */
 .pagination-current {
 	color: #666;
 	font-weight: bold;
 }
a[class~='pagination-link']:link , a[class~='pagination-link']:visited{
	color: #e52d35;
	transition: 0.25s;
	-webkit-transition: 0.25s;
	-moz-transition: 0.25s;
	-o-transition: 0.25s;
}
a[class~='pagination-link']:hover {
	color: #666;
	text-decoration: none;
	transition: 0.25s;
	-webkit-transition: 0.25s;
	-moz-transition: 0.25s;
	-o-transition: 0.25s;
}
.pagination-container {
	text-align: left;
}

@media (min-width:1200px) {
	.section-title, .article-title{
		font-size: 20px;
	}
	.article-text{
		font-size: 14px;
	}
	.img-caption{
		font-size: 12px;
	}
	.navpanel-title{
		font-size: 16px;
	}
	.navpanel-text{
		font-size: 14px;
	}
	.img-caption{
		right: 10px;
	}
	.infotable th[class~="fecha"]{
		padding-right: 60px;
	}
}
@media (max-width:1199px) {
	.img-caption{
		right: 10px;
	}
	.infotable td{
		font-size: 12px;
	}
	.infotable th[class~="fecha"]{
		padding-right: 50px;
	}
}
@media (max-width:991px) {
	.section-title, .article-title{
		font-size: 16px;
	}
}
@media (max-width:767px) {
	.img-caption{
		right: 60px;
	}
	.infotable-title{
		text-align: center;
		font-size: 16px;
	}
	.pagination-current, a[class~='pagination-link'] {
		padding: 5px;
		font-size: 16px;
	}
}
@media (max-width:479px) {
	.img-caption{
		right: 10px;
	}
	.infotable-title{
		text-align: center;
		font-size: 14px;
	}
	.infotable th{
		font-size: 12px;
	}
}