.container-carousel{
	padding-left: 0;
	padding-right: 0;
}
.owl-prev{
	position: absolute;
    top: 40%;
    left: 2.5%;
}
.owl-next{
	position: absolute;
    top: 40%;
    right: 2.5%;
}
@media (max-width:767px) {
	.owl-prev{
		position: absolute;
	    top: 30%;
	    left: 2.5%;
	}
	.owl-next{
		position: absolute;
	    top: 30%;
	    right: 2.5%;
	}
}