/*
 * 1 -> PANEL DE NAVEGACION
 * ============================================
 */
.navpanel{
	/*display: table;*/
}
.navpanel .navpanel-container{
    /*display: table-cell;*/
    border: 2px solid #FFF;
}
.navpanel-container{
	background-color: #e52d35;
	transition: 0.25s;
	-webkit-transition: 0.25s;
	-moz-transition: 0.25s;
	-o-transition: 0.25s;
}
.navpanel-container:hover{
	background-color: #666;
	transition: 0.25s;
	-webkit-transition: 0.25s;
	-moz-transition: 0.25s;
	-o-transition: 0.25s;
}
a[class~="navpanel-link"]:link, a[class~="navpanel-link"]:visited{
	color: #fff;
}
a[class~="navpanel-link"]:hover{
	text-decoration: none;
}
.navpanel-title{
	font-weight: bold;
	font-size: 14px;
}
.navpanel-text{
	font-size: 12px;
}

/*
 * 2 -> TITULOS Y TEXTOS
 * ============================================
 */
.section-title{
	font-size: 18px;
	color: #e52d35;
}
.post-title{
	font-size: 16px;
	color: #e52d35;
}
.post-text{
	font-size: 14px;
	text-align: justify;
}
a[class~="post-link"]:link, a[class~="post-link"]:visited{
	font-size: 13px;
	font-weight: bold;
	color: #e52d35;
	transition: 0.25s;
	-webkit-transition: 0.25s;
	-moz-transition: 0.25s;
	-o-transition: 0.25s;
}
a[class~="post-link"]:hover{
	color: #666;
	transition: 0.25s;
	-webkit-transition: 0.25s;
	-moz-transition: 0.25s;
	-o-transition: 0.25s;
}
a[class~="post-link-next"]{
	position: absolute;
	right: 3%;
}

/*
 * 3 -> TABLAS
 * ============================================
 */
.infotable-title{
	font-size: 18px;
	color: #e52d35;
}
.infotable th{
	padding-top: 20px !important;
	padding-bottom: 20px !important;
	background-color: #e52d35;
	color: #FFF;
}
.infotable td{
	padding-top: 20px !important;
	padding-bottom: 20px !important;
}

/*
 * 4 -> RESPONSIVE
 * ============================================
 */
 /* Queremos lograr que la imagen que se muestra para cualquier noticia sea responsive */
.post-text img {
	max-width: 100%;
    height: auto !important;
    display: block;
}
@media (min-width:1200px) {
	.section-title{
		font-size: 20px;
	}
	.navpanel-title{
		font-size: 16px;
	}
	.navpanel-text{
		font-size: 14px;
	}
	.infotable th[class~="fecha"]{
		padding-right: 60px;
	}
}
@media (max-width:1199px) {
	.infotable td{
		font-size: 12px;
	}
	.post-title{
		font-size: 14px;
	}
	.post-text{
		font-size: 12px;
	}
	.infotable th[class~="fecha"]{
		padding-right: 50px;
	}
}
@media (max-width:767px) {
	.section-title{
		text-align: center;
		font-size: 16px;
	}
	.infotable-title{
		text-align: center;
		font-size: 16px;
	}
}
@media (max-width:479px) {
	.section-title{
		text-align: center;	
		font-size: 14px;
	}
	.post-title{
		font-size: 12px;
	}
	.infotable-title{
		text-align: center;
		font-size: 14px;
	}
	.infotable th{
		font-size: 12px;
	}
}