/**
 * 1 -> Panel de navegacion
 * 2 -> Barra de navegacion
 * 3 -> Controles de navegación del carousel
 * 4 -> Responsive
 * ===============================================
 */

/*
 * 1 -> PANEL DE NAVEGACION
 * ============================================
 */
.navpanel{
	/*display: table;*/
}
.navpanel .navpanel-container{
    /*display: table-cell;*/
    border: 2px solid #FFF;
}
.navpanel-container{
	background-color: #e52d35;
	transition: 0.25s;
	-webkit-transition: 0.25s;
	-moz-transition: 0.25s;
	-o-transition: 0.25s;
}
.navpanel-container:hover{
	background-color: #666;
	transition: 0.25s;
	-webkit-transition: 0.25s;
	-moz-transition: 0.25s;
	-o-transition: 0.25s;
}
a[class~="navpanel-link"]:link, a[class~="navpanel-link"]:visited{
	color: #fff;
}
a[class~="navpanel-link"]:hover{
	text-decoration: none;
}
.navpanel-title{
	font-weight: bold;
	font-size: 14px;
}
.navpanel-text{
	font-size: 12px;
}

.quienes-text{
	font-size: 12px;
	text-align: justify;
}
.quienes-title{
	font-size: 18px;
	color: #e52d35;
}

@media (min-width:1200px) {
	.quienes-title{
		font-size: 20px;
	}
	.quienes-text{
		font-size: 14px;
	}
	.navpanel-title{
		font-size: 16px;
	}
	.navpanel-text{
		font-size: 14px;
	}
	.owl-theme .owl-nav [class*='owl-'] {
		width: 7%;
	}
}
@media (max-width:1199px) {
	.owl-theme .owl-nav [class*='owl-'] {
		width: 7%;
	}
}
@media (max-width:991px) {
	.owl-theme .owl-nav [class*='owl-'] {
		width: 10%;
	}
}
@media (max-width:767px) {
	.quienes-title{
		text-align: center;
		font-size: 16px;
	}
	.owl-theme .owl-nav [class*='owl-'] {
		width: 10%;
	}
}
@media (max-width:479px) {
	.quienes-title{
		text-align: center;	
		font-size: 14px;
	}
	.owl-theme .owl-nav [class*='owl-'] {
		width: 15%;
	}
}