body {
	overflow-x: hidden;
}
/*
 * 1 -> PANEL DE NAVEGACION
 * ============================================
 */
#navpanel{
	display: table;
}
#navpanel .navpanel-container{
    display: table-cell;
    border: 2px solid #FFF;
}
.navpanel-container{
	background-color: #e52d35;
	transition: 0.25s;
	-webkit-transition: 0.25s;
	-moz-transition: 0.25s;
	-o-transition: 0.25s;
}
.navpanel-container:hover{
	background-color: #666;
	transition: 0.25s;
	-webkit-transition: 0.25s;
	-moz-transition: 0.25s;
	-o-transition: 0.25s;
}
a[class~="navpanel-link"]:link, a[class~="navpanel-link"]:visited{
	color: #fff;
}
a[class~="navpanel-link"]:hover{
	text-decoration: none;
}
.navpanel-title{
	font-weight: bold;
	font-size: 14px;
}
.navpanel-text{
	font-size: 12px;
}
/*
 * 2 -> TITULOS Y TEXTOS
 * ============================================
 */
.section-title{
	font-size: 18px;
	color: #e52d35;
}