/*
 * 1 -> PANEL DE NAVEGACION
 * ============================================
 */
.navpanel{
	/*display: table;*/
}
.navpanel .navpanel-container{
    /*display: table-cell;*/
    border: 2px solid #FFF;
}
.navpanel-container{
	background-color: #e52d35;
	transition: 0.25s;
	-webkit-transition: 0.25s;
	-moz-transition: 0.25s;
	-o-transition: 0.25s;
}
.navpanel-container:hover{
	background-color: #666;
	transition: 0.25s;
	-webkit-transition: 0.25s;
	-moz-transition: 0.25s;
	-o-transition: 0.25s;
}
a[class~="navpanel-link"]:link, a[class~="navpanel-link"]:visited{
	color: #fff;
}
a[class~="navpanel-link"]:hover{
	text-decoration: none;
}
.navpanel-title{
	font-weight: bold;
	font-size: 14px;
}
.navpanel-text{
	font-size: 12px;
}

/*
 * 2 -> TITULOS Y TEXTOS
 * ============================================
 */
.section-title{
	font-size: 18px;
	color: #e52d35;
}

/*
 * 3 -> TABLAS
 * ============================================
 */
.infotable-title{
	font-size: 18px;
	color: #e52d35;
}
.infotable th{
	padding-top: 20px !important;
	padding-bottom: 20px !important;
	background-color: #e52d35;
	color: #FFF;
}
.infotable td{
	padding-top: 20px !important;
	padding-bottom: 20px !important;
}
/*
* 4 -> BARRA DE BUSQUEDA
* ============================================
*/
.search-bar{
	padding: 5px 5px;
	background-color: #e52d35;
	border-radius: 10px;
	text-align: center;
	color: #FFF;
}
.search-bar a{
	font-size: 16px;
}
.search-bar a:link, .search-bar a:visited{
	color: #FFF;
}

/*
* 5 -> CONTENEDOR DE PERFIL DE SOCIO
* ============================================
*/
.profile-container{
	padding: 10px 10px;
	border: 1px dashed #666;
}
.profile-footer{
	font-size: 11px;
	text-align: center;	
}
.profile-footer .last-label{
	font-weight: bold;
	font-style: italic;
	color: #e52d35;
}
/*
 * 6 -> PAGINACION
 * ============================================
 */
.pagination-current {
	font-weight: bold;
	text-decoration: underline;
}
.no-data-warning {
	font-size: 20px;
	color: #e52d35;
	text-align: center;
}
/*
 * 7 -> RESPONSIVE
 * ============================================
 */
@media (min-width:1200px) {
	.section-title{
		font-size: 20px;
	}
	.navpanel-title{
		font-size: 16px;
	}
	.navpanel-text{
		font-size: 14px;
	}
	.infotable th[class~="fecha"]{
		padding-right: 60px;
	}
}
@media (max-width:1199px) {
	.infotable td{
		font-size: 12px;
	}
	.infotable th[class~="fecha"]{
		padding-right: 50px;
	}
}
@media (max-width:767px) {
	.section-title{
		text-align: center;
		font-size: 16px;
	}
	.infotable-title{
		text-align: center;
		font-size: 16px;
	}
	.no-data-warning {
		font-size: 16px;
	}
	.profile-footer{
		font-size: 8px;
	}
}
@media (max-width:479px) {
	.section-title{
		text-align: center;	
		font-size: 14px;
	}
	.infotable-title{
		text-align: center;
		font-size: 14px;
	}
	.infotable th{
		font-size: 12px;
	}
	.no-data-warning {
		font-size: 14px;
	}
}